
@{
    ViewBag.Title = "Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calculator (Using an Inteface)</h2>

<p>Add: @ViewBag.X + @ViewBag.Y = @ViewBag.Add</p>
<p>Subtract: @ViewBag.X - @ViewBag.Y = @ViewBag.Sub</p>